body {
  background-color: #152238;
}
h1 {
  color: blue;
}
.basetext {
  font-size:5vw
}
#divtop{
  background-color: #ccccd5;
  height: 13vw;
  width: 100%;
  text-align: center;
  line-height: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}
#logoname {
  font-size: 5vw;
  color: fcc201;
  line-height: 
}
#logonameunder{
  line-height: 0;
  text-align: bottom;
  font-size: 1vw;
}
ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #000000;
          position: fixed;
          position: sticky;
          display: block;
          top: 13vw;
          width: 100%; 
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 1vw;
          text-decoration: none;
        }

        li a:hover {
          background-color: #999999;
        }

        ul li {
          float: right;
        }

#h1top{
  top: 15vw;
  position: fixed;
}